body {font-family: Verdana, sans-serif; margin:0}
body {background-color: rgb(233, 233, 233);}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1650px;
  position: relative;
  margin: auto;
  flex-shrink: 0; 
  min-width:1100px;

}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: 70px;
  padding-top: 110px;
  padding-bottom: 110px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-style: solid;
  border-color:rgba(240, 248, 255, 0);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  padding-left:15px;
}

.prev {
  padding-left: 15px;
  border-radius: 3px 0 0 3px;
}


.prev:active, .next:active {
  border-style: solid;
  border-color:white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides fade{
  margin: auto;
}

.slideshow-container::after{
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(233, 233, 233));
  margin-top: -300px;
  height: 300px;
  width: 100%;
  content: '';
}



@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}